<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--
活动注册声明要放在<application>标签内，通过<activity>标签来对活动进行注册的。
 android:name来指定具体注册哪一个活动，这是一个相对目录，加上<mainfest>标签里的package指定程序包名。
 <activity>标签内部加入 <intent-filter>标签配置主活动。
 android:label指定活动中标题栏的内容，标题栏是显示在活动最顶部的，注意的是给主活动指定的label不仅会成为标题栏中的内容，还会成为启动器(Launcher)中应用程序显示的名称。
 -->
        <activity android:name=".FirstActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HelloWorldActivity">
        </activity>
    </application>

</manifest>