<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">
    <!-- 访问系统的网络状态需要声明权限，这里加入了如下权限就可以访问系统网络状态了 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-configuration android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.ServiceMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.MyIntentService" />

        <activity android:name=".database.LitePalDatabaseMainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".database.MyDatabaseMainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.helloworld.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver> <!-- 所有的静态广播器都需要在receiver标签里进行注册 -->
        <!-- name:指定具体注册哪一个广播接收器；enabled：表示是否启用这个广播； exported：表示是否允许这个广播接收器接收本程序以外的广播 -->
        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" /> <!-- Android系统启动的开机广播 -->
            </intent-filter>
        </receiver>

        <activity android:name=".UIActivity" />
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:scheme="http" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.example.helloworld1.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.helloworld1.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <!--
活动注册声明要放在<application>标签内，通过<activity>标签来对活动进行注册的。
 android:name来指定具体注册哪一个活动，这是一个相对目录，加上<mainfest>标签里的package指定程序包名。
 <activity>标签内部加入 <intent-filter>标签配置主活动。
 android:label指定活动中标题栏的内容，标题栏是显示在活动最顶部的，注意的是给主活动指定的label不仅会成为标题栏中的内容，还会成为启动器(Launcher)中应用程序显示的名称。
        -->
        <activity
            android:name=".FirstActivity"
            android:label="This is FirstActivity"
            android:launchMode="singleTop">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".HelloWorldActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".BroadcastMainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>